/* Fonts */
@font-face {
    font-family: 'Astron';
    src: url('fonts/Astron.otf') format('opentype');
}

@font-face {
    font-family: 'Arapey';
    src: url('fonts/Arapey-Regular.ttf') format('truetype');
}

/* Global Styles */
* {
    font-family: 'Arapey', sans-serif;
}

body {
    background-color: #FFF8EF;
}


header {
    color: #2F48C9;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    margin: 20px 0; /* Augmenter l'espace autour du titre */
    font-family: 'Astron', sans-serif;
    font-weight: 100;
}

header p {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Arapey', sans-serif;
    font-weight: 500;
}

nav ul li a:hover {
    color: #2F48C9;
    font-weight: 700;
}

.separator {
    border: none;
    border-top: 1px solid #000000;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-top: 10px;
}

.nav-item {
    text-align: center;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.nav-item img {
    width: 100px;
    height: auto;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.photo-card {
    margin: 20px;
    width: calc(12,5% - 1px);
    display: inline-block;
}

.photo-card img {
    width: 275px;
    height: 275px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #000000;
}

footer {
    background-color: #2F48C9;
    color: #FFF8EF;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #FFF8EF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    margin-bottom: 20px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.details {
    flex-grow: 1;
}

.edit-profile input[type="text"],
.edit-profile input[type="email"],
.edit-profile input[type="tel"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-profile button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-profile button:hover {
    background-color: #0056b3;
}


/* Centrer le titre et la phrase */
.HomePage-header {
    font-size: x-large;
    text-align: center;
    color: #ffffff; /* Changer la couleur du texte en fonction de votre vidéo */
    padding: 50px 0; /* Ajouter un espace autour du titre */
    position: absolute; /* Permet de positionner le titre par rapport à la fenêtre */
    top: 35%; /* Déplace le titre à 50% de la hauteur de la fenêtre */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centre le titre exactement au milieu de la fenêtre */
    width: 100%; /* Largeur maximale */
}

/* Styliser le bouton */

.HomePage-button {
    background-color: #2F48C9;
    color: #FFF;
    font-size: 22px; /* Augmenter la taille du texte du bouton */
    padding: 15px 30px; /* Augmenter l'espacement à l'intérieur du bouton */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px; /* Ajouter de l'espace entre la phrase et le bouton */
}

.HomePage-button:hover {
    background-color: #1E3178;
}

.HomePage-button a {
    color: #FFF;
    text-decoration: none;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    filter: brightness(0.6); /* Ajouter un filtre pour assombrir la vidéo */
}