<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PrestigeRent{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('../assets/styles/app.css') }}">
    {% endblock %}
</head>
<body class="HomePage">
    <video class="background-video" autoplay muted loop>
        <source src="{{ asset('../assets/styles/videos/homepageBackground.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <header class="HomePage-header">
        <h1>{{ block('title') }}</h1>
        <p>Conduisez l'excellence !</p>
        <div class="HomePage-button"><a href="{{ path('carsPage') }}">Notre sélection</a></div>
    </header>
</body>
</html>
